// .code {
//     @include title-text;
// }
pre {
    margin: 0;
}

@media(max-width: $sm) {
    pre {
        @include flex-column;
        justify-content: center;
        // width: 200px;
        .coder {
            width: 70%;
        }
    }
}