$white: #fff;
$black: #0E0E13;
$queenBlue: #3D6792;
$gold: #E0BA2C;
$darkGold: #BA840E;
$oldGold: #DDBD57;
$bg: linear-gradient(39.97deg, #FEE440 0.79%, #00BBF9 79.29%);
$bgGold: linear-gradient(39.97deg, #FDD34F 0.79%, #00CAF0 79.29%);
$bgYellow: linear-gradient(39.97deg, #FBC25E 0.79%, #0099B8 79.29%);
$background: #e0e0e0;
$primeryFontRegular: "Roboto-Regular";
$primeryFontBold: "Roboto-Bold";
$primeryFontMedium: "Roboto-Medium";
$sl: 400px;
$sm: 540px;
$md: 770px;
$lg: 960px;
$xl: 1140px;
$xxl: 1340px;