section(id="about").about 
    h2.animated
        span A
        span B
        span O
        span U
        span T
        span &nbsp;&nbsp;
        span M
        span E
    p.about-me Hi! My name is Valery. I am 26 years old and I from Minsk, the capital Republic of Belarus. I have no experience in programming, but I have a great desire to learn how to write code. I approach work and tasks with responsibility and always listen to opinion and criticism of colleagues. I am constantly developing in professional direction and do not dwell.